*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Stores
/build
/captures
.externalNativeBuild
/app/src/main/java/com/bennyv17/river/PrivateData.kt
.idea/caches/
.idea/codeStyles/
app/libs/
release/
/app/src/main/res/values-v1/secrets.xml
